<div class="center-screen">
    <section class="p-grid p-formgrid p-grid">
          <div class="p-col p-field p-md-4">
                <span class="p-float-label">
                      <input type="text" pInputText [(ngModel)]="userName" pTooltip="Enter a username" tooltipPosition="left" tooltipEvent="focus"/>
                  </span>
          </div>
          <div class="p-col p-field p-md-4 coronaV">
                <span class="p-float-label">
                      <input type="password" pPassword [(ngModel)]="password" 
                      [(showPassword)]="showPassword" [feedback]="false" pTooltip="Enter a password" tooltipPosition="left" tooltipEvent="focus"/>
                      <p-toggleButton onIcon='pi-eye' offIcon='pi pi-eye-slash'  [(ngModel)]="showPassword"></p-toggleButton>
                </span>
          </div>
          <div class="p-col p-field p-md-4 d-flex justify-content-between coronaV">
                <button pButton label="Login" (click)="HandleUserLogin()" [disabled]="loginDisabled"></button>
                <button class="coronaH" pButton label="Register" [routerLink]="['/register']"></button>
          </div>
    </section>
</div>